<form *ngIf="showAddPerson" class="add-form" (ngSubmit)="onSubmit()">
  <div class="person-details">
    <label for="firstname">Vorname</label>
    <input
      type="text"
      name="firstname"
      placeholder="Vorname hinzufügen"
      [(ngModel)]="firstname"
      required
    />
  </div>
  <div class="person-details">
    <label for="lastname">Name</label>
    <input
      type="text"
      name="firstname"
      placeholder="Name hinzufügen"
      [(ngModel)]="lastname"
      required
    />
  </div>
  <div class="person-details">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      placeholder="Email hinzufügen"
      [(ngModel)]="email"
      required
    />
  </div>

  <input type="submit" value="Save Person" class="btn" />
</form>
